:root {
  --dark-purple: #380356;
  --purple: #6b0078;
  --light-purple: #93009c;
  --magenta: #b000b2;
  --lavender: #c7b4ff;
}

.App {
  margin: auto;
  text-align: center;
  background-color: #000; /* Black background */
  color: #FFF; /* White text for contrast */
}

.main-header {
  padding: 2rem 0;
}

.main-title {
  text-align: center;
}

.landing-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--lavender);
}

.oval {
  width: 100px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.oval-container {
  text-align: center;
  padding: 20px;
}

.main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Aligns items vertically */
  gap: 20px; /* Adjusts the space between the components */
  /* Ensure flex-direction is set to row */
  flex-direction: row;
}

.placeholder, .spine {
  flex: 1; /* Default flex-grow value */
  border: 2px solid #ddd; /* Example styling, adjust as needed */
  border-radius: 10px; /* Gives a slight rounded corner for a modern look */
  padding: 20px;
  min-width: 150px; /* Ensures that each component has at least a minimum width */
  text-align: center;
}

.landing-title {
  text-align: center;
  margin-left: 40px;
}

.landing-chr {
  animation: focus 3s;
}

.title {
  text-align: center;
  align-items: center;
  color:white;
  letter-spacing: 40px;
  margin: 0px;
  font-size: 150px;
  display: inline-block;
  /* filter: blur(3px); */
}

.caption {
  margin-top: 10px;
  font-size: 40px;
}

.background-chair {
  left: 40vw;
  top: 20vh;
  width: auto;
  height: 400px;
  filter: blur(10px);
  position: absolute;

  animation: spin infinite 15s;
  /* animation-timing-function: ease-in-out; */
  animation-timing-function: linear;
}

.main-title {
  margin: 10px;
  text-align: left;
}


.main-header {
  z-index: 10;
}

.spine > svg, .spine > canvas {
  max-width: 100%;
  max-height: 100%;
}

.placeholder, .spine {
  overflow: hidden; 
}

.placeholder {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between Spine component and textual content */
}



.spine {
  flex: 1; /* Adjust if you want to change the flex-grow behavior */
  max-width: 100%; /* Example to make the Spine visualization smaller */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the visualization in the placeholder */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}



.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  min-width: 150px; /* Adjust based on your needs */
  min-height: 100px; /* Adjust based on your needs */
  text-align: center;
}


.gradient {
  /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, purple, blue);
  
  /* Set the background size and repeat properties. */
  /* background-size: 400% 400%; */
  background-size: 400%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  animation: swirl 3s infinite;
}

.button {
  size: 100px;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  width: 100px;
}

.button-text {
  font-size: 40px;
  text-decoration: none;
  color: black
}

@keyframes focus {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes swirl {
  0% {
      background-position: 25% 0%;
  }
  50% {
      background-position: 75% 0%;
  }
  100% {
      background-position: 25% 0%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
