:root {
  --dark-purple: #380356;
  --purple: #6b0078;
  --light-purple: #93009c;
  --magenta: #b000b2;
  --lavender: #c7b4ff;
}

.App {
  text-align: center;
  background-color: #000; /* Black background */
  color: #FFF; /* White text for contrast */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--lavender);
}

.oval {
  width: 100px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.oval-container {
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px; /* Adjust the gap to control spacing between segments */
  margin: 10px 0;
}

@media (max-width: 600px) {
  .container > h2 {
    margin-bottom: 5px; /* Even less space on smaller screens */
  }

  .container > .spine-wrapper {
    margin-top: 0;
  }
}


.segment {
  background-color: #000; /* Modern black background */
  color: white;
  padding: 10px;
  width: 80%; /* Adjust based on your preference */
  text-align: center;
  text-transform: lowercase;
  border-radius: 10px; /* Soften edges for a modern look */
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  transition: transform 0.3s ease; /* Smooth transition for interaction */
}



.segment, .title-segment, .spine-wrapper {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
  border-radius: 8px; /* Soften edges */
  margin-top: 0;
  margin: 10; /* Ensure some space around each segment for the shadow to be visible */
}


.segment:hover {
  transform: translateY(-5px); /* More subtle lift */
  /* box-shadow: 0 8px 16px rgba(0,0,0,0.2); */
}

.title-segment, .question-segment, .content-segment {
  align-items: center;
  margin-bottom: 0;
}

h2 {
  margin-top: 5px; /* Reduce space above "Spine Sensor" text */
  margin-bottom: 5px; /* Reduce space below "Spine Sensor" text, adjust as needed */
}

.spine {
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

.spine-wrapper {
  position: relative; /* Needed for absolute positioning of pseudo-elements */
  margin-top: 0;
  padding:px;
  padding-top: 0; /* Remove top padding if it exists */
  width: 900px;
  height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.75);
  transform-origin: center;
}

.spine-wrapper::before {
  content: '';
  position: absolute;
  top: -2px; /* Slightly larger than the border to create a glowing effect */
  left: -1px;
  right: -1px;
  bottom: -2px;
  z-index: -1;
  /*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
  border-radius: 10px; /* Match the spine-wrapper's border-radius */
  animation: sparklingBorder 2s infinite alternate;
}

.title-segment .spine-wrapper {
  display: inline-block; /* Or 'block', depending on layout needs */
  transform: scale(0.75); /* Adjust scale value as needed */
  transform-origin: center; /* Centers the scaling transformation */
}


body {
  background-color: #121212; /* Dark theme background for the whole page */
  margin: 0;
  font-family: Arial, sans-serif;
}


.main-header {
  background-color: black;
  color: white;
  align-items: left;
}


.main-top-bar {
  align-items: left;
}

.grid {
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 20px;
  margin: 20px;
}

.grid-item {
  align-items: center;
  justify-content: center;
  display: flex;
  /* border-style: solid;
  border-color: white;
  border-radius: 10px;
  border-width: 1px; */
  object-fit: contain;
  padding: 20px;
  height: 400px;
}

.grid-content {
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-style: solid;
  border-color: var(--lavender);
  /* border-radius: 10px;] */
  border-width: 2px;
  padding: 15px;
}

.caption {
  font-size: 25px;
  margin: 10px;
  text-align: left;
}

.gpt-content {
  background-color:#121212;
  text-align: left;
  margin: 10px;
}

.timer {
  font-size: 50px;
}

.large-text {
  font-size: 18px;
  text-align: left;
  margin: 0px;
}

.landing-title {
  text-align: center;
  margin-left: 40px;
}

.landing-chr {
  animation: focus 7s infinite;
}

.title {
  text-align: center;
  align-items: center;
  color:white;
  letter-spacing: 40px;
  margin: 0px;
  font-size: 150px;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

.background-chair {
  left: 40vw;
  top: 20vh;
  width: auto;
  height: 400px;
  filter: blur(10px);
  position: absolute;

  animation: spin infinite 15s;
  /* animation-timing-function: ease-in-out; */
  animation-timing-function: linear;
}

.main-title {
  /* margin-top: 20px; */
  margin: 0px;
  font-size: 40px;
  display: inline-block;
}

.placeholder {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between Spine component and textual content */
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 250px; /* Adjust based on your needs */
  max-height: 300px; /* Adjust based on your needs */
  text-align: center;
}


.horizontal-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.column {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  box-sizing: border-box;
}

.placeholder {
  padding: 20px;
}

.skeleton {
  width: auto;
  height: 300px;
}

.gradient {
  /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, purple, blue);
  
  /* Set the background size and repeat properties. */
  /* background-size: 400% 400%; */
  background-size: 400%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  animation: swirl 3s infinite;
}

.button {
  size: 100px;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  width: 100px;
}

.button-text {
  font-size: 40px;
  text-decoration: none;
  color: black
}

@keyframes emphasis {
  0% {
    border-color: var(--lavender);
  }
  100% {
    border-color: var(--magenta);
  }
}

@keyframes focus {
  0% {
    filter: blur(50px);
  }
  10% {
    filter: blur(40px);
  }
  20% {
    filter: blur(0px);
  }
  80% {
    filter: blur(0px);
  }
  90% {
    filter: blur(40px);
  }
  100% {
    filter: blur(50px);
  }
}

@keyframes swirl {
  0% {
      background-position: 25% 0%;
  }
  50% {
      background-position: 75% 0%;
  }
  100% {
      background-position: 25% 0%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
