body, html {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace; /* Clean, sans-serif font */
   
background: rgb(33,9,46);
background: linear-gradient(180deg, rgba(33,9,46,1) 0%, rgba(84,66,136,1) 53%, rgba(165,139,226,0.986453956582633) 100%);
}
#logo {
  font-size: 48px;
  font-weight: 600;
  color: white;
  font-family: "Pixelify Sans", sans-serif;
}
.subtext {
  color: white;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}



nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the spinner takes the full viewport height */
}

#rotatingChair {
  width: 200px; /* Adjust to the size you want */
  height: auto; /* This will maintain the aspect ratio */
  animation: spin 5s linear infinite; /* Change the duration as you like */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  text-align: center;
  padding-top: 50px; /* Adjust based on your header size */
}

header h1 {
  font-size: 50px; /* Large, bold text */
  margin: 0;
  padding: 0;
  color: white; /* White text color */
}


header p {
  font-size: 20px; /* Subtitle text */
  color: white; /* Subtle text color */
}

.scroll-indicator {
  margin-top: 50px; /* Space above the scroll indicator */
  font-size: 18px;
  animation: bounce 2s infinite; /* Animated to attract attention */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
