body, html {
  height: 100%;
  margin: 0;
  background-color: black; /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
}

.spinner img {
  width: 100px; /* Initial size of the chair image */
  height: auto; /* Maintain aspect ratio */
  animation: spin 2s linear infinite; /* Continuous rotation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
